In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [4]:
##### PARTE 1 ######

In [5]:
#DF 2005
ruta05 = "/Users/francastronuovo/Desktop/TPdatos/Individual_t105.dta"
df_05 = pd.read_stata(ruta05)  

df_05.head()

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
0,125098,1.0,1.0,Sí,2005.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1017.0,...,08,,07,08,,05,0.0,0.0,0.0,00000
1,125188,1.0,1.0,Sí,2005.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1062.0,...,02,,02,02,,01,0.0,0.0,0.0,40020
2,125188,1.0,2.0,Sí,2005.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1062.0,...,02,,02,02,,01,0.0,0.0,0.0,00000
3,125188,1.0,3.0,0.0,2005.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1062.0,...,02,,02,02,,01,0.0,0.0,0.0,00000
4,125242,1.0,1.0,Sí,2005.0,1er. Trimestre,Gran Buenos Aires,S,Ciudad de Buenos Aires,1103.0,...,09,,09,09,,07,0.0,0.0,0.0,00000

In [6]:
#DF 2025
ruta25= "/Users/francastronuovo/Desktop/TPdatos/usu_individual_T125 (1).xlsx"
df_25 = pd.read_excel(ruta25)
df_25.head()

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,V21_03_M,V22_01_M,V22_02_M,V22_03_M,P_DECCF,P_RDECCF,P_GDECCF,P_PDECCF,P_IDECCF,P_ADECCF
0,TQRMNOVQVHJOLOCDEFKID00875778,2025,1,1,2,1,43,S,4,927,...,0,0,0,0,3.0,2.0,3.0,NaN,3.0,2.0
1,TQRMNOVQVHJOLOCDEFKID00875778,2025,1,1,3,0,43,S,4,927,...,0,0,0,0,3.0,2.0,3.0,NaN,3.0,2.0
2,TQRMNOVQVHJOLOCDEFKID00875778,2025,1,1,4,0,43,S,4,927,...,0,0,0,0,3.0,2.0,3.0,NaN,3.0,2.0
3,TQRMNOVQVHJOLOCDEFKID00875778,2025,1,1,5,0,43,S,4,927,...,0,0,0,0,3.0,2.0,3.0,NaN,3.0,2.0
4,TQRMNOUPQHLOLOCDEFKID00851757,2025,1,1,1,1,43,S,4,1294,...,0,0,0,0,3.0,3.0,3.0,NaN,3.0,3.0

In [7]:
#cambiar region a codigo en la de 05

def regioncodigo (region): 
    if region == 'Gran Buenos Aires':
        return 1
    elif region == 'NOA':
        return 40
    elif region == 'NEA':
        return 41
    elif region == 'Cuyo':
        return 42
    elif region == 'Pampeana':
        return 43
    elif region == 'Patagónica':
        return 44

In [8]:
# Mirá los strings “tal cual” para detectar \xa0, \t, \n, etc.
for s in df_05['region'].dropna().unique()[:10]:
    print(repr(s))

'Gran Buenos Aires'
'NOA'
'NEA'
'Cuyo'
'Pampeana'
'Patagónica'

In [9]:
df_05["region"]= df_05["region"].apply(regioncodigo)

df_05.sample(15)

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
129,134414,1.0,2.0,Sí,2005.0,1er. Trimestre,1,S,Ciudad de Buenos Aires,1332.0,...,09,,09,09,,07,0.0,0.0,0.0,00000
36797,262704,1.0,2.0,Sí,2005.0,1er. Trimestre,43,N,Gran Paraná,351.0,...,05,05,04,,06,05,0.0,0.0,0.0,00000
9284,283354,1.0,1.0,Sí,2005.0,1er. Trimestre,1,S,Partidos del GBA,1258.0,...,04,,04,04,,05,0.0,0.0,0.0,00000
37329,146191,1.0,6.0,0.0,2005.0,1er. Trimestre,43,S,Gran Córdoba,367.0,...,01,01,01,01,,01,0.0,0.0,0.0,00000
385,149480,1.0,2.0,Sí,2005.0,1er. Trimestre,1,S,Ciudad de Buenos Aires,1041.0,...,10,,10,10,,10,0.0,0.0,0.0,00000
17710,212846,1.0,4.0,0.0,2005.0,1er. Trimestre,40,S,Gran Tucumán - Tafí Viejo,303.0,...,01,01,01,01,,01,0.0,0.0,0.0,00000
4732,181651,1.0,3.0,Sí,2005.0,1er. Trimestre,1,S,Partidos del GBA,1429.0,...,05,,04,04,,05,0.0,0.0,0.0,00000
28576,229413,1.0,3.0,Sí,2005.0,1er. Trimestre,42,N,Gran San Juan,259.0,...,02,02,02,,03,03,0.0,0.0,0.0,00000
33999,268851,1.0,5.0,Sí,2005.0,1er. Trimestre,43,S,Gran Rosario,389.0,...,02,03,02,02,,02,0.0,0.0,0.0,00000
9890,162019,1.0,4.0,Sí,2005.0,1er. Trimestre,40,N,Santiago del Estero - La Banda,172.0,...,01,01,02,,01,02,0.0,0.0,0.0,00000
23485,154486,1.0,2.0,Sí,2005.0,1er. Trimestre,41,N,Formosa,249.0,...,07,07,09,,08,09,0.0,0.0,0.0,00000
5676,200183,1.0,3.0,0.0,2005.0,1er. Trimestre,1,S,Partidos del GBA,1143.0,...,06,,06,06,,07,0.0,0.0,0.0,00000
11200,141166,1.0,2.0,Sí,2005.0,1er. Trimestre,40,N,Jujuy - Palpalá,147.0,...,09,09,09,,09,10,0.0,0.0,0.0,00000
45896,219670,1.0,1.0,Sí,2005.0,1er. Trimestre,44,N,Río Gallegos,82.0,...,06,06,04,,07,03,0.0,0.0,0.0,00000
41710,158212,1.0,1.0,Sí,2005.0,1er. Trimestre,43,S,Mar del Plata - Batán,138.0,...,02,02,02,01,,01,0.0,0.0,0.0,00000

In [10]:
#### FILTRO LOS DOS DF PARA QUEDARME CON PATAGONIA: Codigo 44

In [11]:
df_05_pat= df_05[df_05["region"] == 44].copy()
df_05_pat.sample(10)

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,deccfr,ideccfr,rdeccfr,gdeccfr,pdeccfr,adeccfr,pj1_1,pj2_1,pj3_1,idimpp
45296,256647,1.0,2.0,Sí,2005.0,1er. Trimestre,44,N,Neuquén - Plottier,312.0,...,08,09,07,,09,08,0.0,0.0,0.0,00000
46772,246322,1.0,2.0,Sí,2005.0,1er. Trimestre,44,N,Ushuaia - Río Grande,121.0,...,08,08,07,,09,05,0.0,0.0,0.0,00000
45827,207301,1.0,1.0,Sí,2005.0,1er. Trimestre,44,N,Río Gallegos,105.0,...,02,02,01,,02,01,0.0,0.0,0.0,00000
44066,178207,1.0,4.0,Sí,2005.0,1er. Trimestre,44,N,Comodoro Rivadavia - Rada Tilly,347.0,...,01,01,01,,01,01,0.0,0.0,0.0,00000
44755,148358,1.0,2.0,Sí,2005.0,1er. Trimestre,44,N,Neuquén - Plottier,516.0,...,09,10,08,,10,09,0.0,0.0,0.0,00000
44628,286213,1.0,4.0,Sí,2005.0,1er. Trimestre,44,N,Comodoro Rivadavia - Rada Tilly,168.0,...,10,10,10,,10,10,0.0,0.0,0.0,00000
45324,259957,1.0,2.0,Sí,2005.0,1er. Trimestre,44,N,Neuquén - Plottier,198.0,...,09,10,09,,10,09,0.0,0.0,0.0,00000
44588,273943,1.0,3.0,Sí,2005.0,1er. Trimestre,44,N,Comodoro Rivadavia - Rada Tilly,199.0,...,03,04,03,,04,02,0.0,0.0,0.0,00000
44572,273255,1.0,1.0,Sí,2005.0,1er. Trimestre,44,N,Comodoro Rivadavia - Rada Tilly,134.0,...,07,07,06,,08,05,0.0,0.0,0.0,00000
46108,260625,1.0,4.0,0.0,2005.0,1er. Trimestre,44,N,Río Gallegos,130.0,...,07,08,06,,08,05,0.0,0.0,0.0,00000

In [12]:
df_25_pat= df_25[df_25["REGION"] == 44].copy()
df_25_pat.sample(10)

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,V21_03_M,V22_01_M,V22_02_M,V22_03_M,P_DECCF,P_RDECCF,P_GDECCF,P_PDECCF,P_IDECCF,P_ADECCF
692,TQRMNOWYQHLMLPCDEOHCH00877721,2025,1,1,1,1,44,N,91,205,...,0,0,0,0,10.0,10.0,NaN,10.0,10.0,10.0
36652,TQRMNOTPUHJNLMCDEHGHJ00872902,2025,1,1,2,1,44,N,20,130,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
28983,TQRMNORUQHKKKNCDEIHJF00866808,2025,1,1,1,1,44,N,31,103,...,0,0,0,0,8.0,6.0,NaN,8.0,8.0,6.0
20008,TQRMNOPXXHLMKNCDEIHJF00854696,2025,1,2,1,1,44,N,31,128,...,0,0,0,0,8.0,7.0,NaN,9.0,9.0,6.0
2151,TQRMNOSPYHLLKUCDEOJAH00856306,2025,1,1,1,1,44,N,93,132,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10639,TQRMNOTURHJOKTCDEHGHJ00873009,2025,1,1,3,1,44,N,20,519,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
32389,TQRMNOSPRHJNLLCDEFPCH00875867,2025,1,1,3,1,44,N,9,226,...,0,0,0,0,1.0,1.0,NaN,1.0,1.0,1.0
36987,TQRMNOSPXHKOKOCDEOHCH00856459,2025,1,1,6,1,44,N,91,199,...,0,0,0,0,9.0,8.0,NaN,10.0,9.0,9.0
35529,TQRMNOQWPHJKKQCDEIHJF00876212,2025,1,1,3,1,44,N,31,149,...,0,0,0,0,10.0,10.0,NaN,10.0,10.0,9.0
37927,TQRMNOPTVHJMKSCDEIHJF00873294,2025,1,1,1,1,44,N,31,265,...,0,0,0,0,10.0,9.0,NaN,10.0,10.0,9.0

In [13]:
#### ELIJO LAS 15 VARS: CH04, CH06, CH07, CH08, NIVEL ED, ESTADO, CAT_INAC, IPCF, CH15, PP10A, PP3E_TOT, PP3F_TOT, PP07A, PP10E, CAT_OCUP

In [14]:
print(df_05_pat.columns.tolist())

['CODUSU', 'nro_hogar', 'componente', 'h15', 'ano4', 'trimestre', 'region', 'mas_500', 'aglomerado', 'pondera', 'ch03', 'ch04', 'ch06', 'ch07', 'ch08', 'ch09', 'ch10', 'ch11', 'ch12', 'ch13', 'ch14', 'ch15', 'ch15_cod', 'ch16', 'ch16_cod', 'nivel_ed', 'estado', 'cat_ocup', 'cat_inac', 'pp02c1', 'pp02c2', 'pp02c3', 'pp02c4', 'pp02c5', 'pp02c6', 'pp02c7', 'pp02c8', 'pp02e', 'pp02h', 'pp02i', 'pp03c', 'pp03d', 'pp3e_tot', 'pp3f_tot', 'pp03g', 'pp03h', 'pp03i', 'pp03j', 'intensi', 'pp04a', 'pp04b_cod', 'pp04b1', 'pp04b2', 'pp04b3_mes', 'pp04b3_ano', 'pp04b3_dia', 'pp04c', 'pp04c99', 'pp04d_cod', 'pp04g', 'pp05b2_mes', 'pp05b2_ano', 'pp05b2_dia', 'pp05c_1', 'pp05c_2', 'pp05c_3', 'pp05e', 'pp05f', 'pp05h', 'pp06a', 'pp06c', 'pp06d', 'pp06e', 'pp06h', 'pp07a', 'pp07c', 'pp07d', 'pp07e', 'pp07f1', 'pp07f2', 'pp07f3', 'pp07f4', 'pp07f5', 'pp07g1', 'pp07g2', 'pp07g3', 'pp07g4', 'pp07g_59', 'pp07h', 'pp07i', 'pp07j', 'pp07k', 'pp08d1', 'pp08d4', 'pp08f1', 'pp08f2', 'pp08j1', 'pp08j2', 'pp08j3', 'pp09a', 'pp09a_esp', 'pp09b', 'pp09c', 'pp09c_esp', 'pp10a', 'pp10c', 'pp10d', 'pp10e', 'pp11a', 'pp11b_cod', 'pp11b1', 'pp11b2_mes', 'pp11b2_ano', 'pp11b2_dia', 'pp11c', 'pp11c99', 'pp11d_cod', 'pp11g_ano', 'pp11g_mes', 'pp11g_dia', 'pp11l', 'pp11l1', 'pp11m', 'pp11n', 'pp11o', 'pp11p', 'pp11q', 'pp11r', 'pp11s', 'pp11t', 'p21', 'decocur', 'idecocur', 'rdecocur', 'gdecocur', 'pdecocur', 'adecocur', 'tot_p12', 'p47t', 'decindr', 'idecindr', 'rdecindr', 'gdecindr', 'pdecindr', 'adecindr', 'v2_m', 'v3_m', 'v4_m', 'v5_m', 'v8_m', 'v9_m', 'v10_m', 'v11_m', 'v12_m', 'v18_m', 'v19_am', 'v21_m', 't_vi', 'itf', 'decifr', 'idecifr', 'rdecifr', 'gdecifr', 'pdecifr', 'adecifr', 'ipcf', 'deccfr', 'ideccfr', 'rdeccfr', 'gdeccfr', 'pdeccfr', 'adeccfr', 'pj1_1', 'pj2_1', 'pj3_1', 'idimpp']

In [15]:
print(df_25_pat.columns.tolist())

['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'CH03', 'CH04', 'CH05', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH15_COD', 'CH16', 'CH16_COD', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'IMPUTA', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP03I', 'PP03J', 'INTENSI', 'PP04A', 'PP04B_COD', 'PP04B1', 'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP04C', 'PP04C99', 'PP04D_COD', 'PP04G', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP05C_1', 'PP05C_2', 'PP05C_3', 'PP05E', 'PP05F', 'PP05H', 'PP06A', 'PP06C', 'PP06D', 'PP06E', 'PP06H', 'PP07A', 'PP07C', 'PP07D', 'PP07E', 'PP07F1', 'PP07F2', 'PP07F3', 'PP07F4', 'PP07F5', 'PP07G1', 'PP07G2', 'PP07G3', 'PP07G4', 'PP07G_59', 'PP07H', 'PP07I', 'PP07J', 'PP07K', 'PP08D1', 'PP08D4', 'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP09A', 'PP09A_ESP', 'PP09B', 'PP09C', 'PP09C_ESP', 'PP10A', 'PP10C', 'PP10D', 'PP10E', 'PP11A', 'PP11B_COD', 'PP11B1', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA', 'PP11C', 'PP11C99', 'PP11D_COD', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP11L', 'PP11L1', 'PP11M', 'PP11N', 'PP11O', 'PP11P', 'PP11Q', 'PP11R', 'PP11S', 'PP11T', 'P21', 'DECOCUR', 'IDECOCUR', 'RDECOCUR', 'GDECOCUR', 'PDECOCUR', 'ADECOCUR', 'PONDIIO', 'TOT_P12', 'P47T', 'DECINDR', 'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'PONDII', 'V3_M', 'V4_M', 'V8_M', 'V9_M', 'V10_M', 'V12_M', 'V18_M', 'V19_AM', 'T_VI', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR', 'PONDIH', 'V2_02_M', 'V2_03_M', 'V5_03_M', 'V11_02_M', 'PP07B1_01', 'EMPLEO', 'SECTOR', 'PP02A', 'PP02B', 'PP02D', 'PP02F', 'PP02G', 'PP03K', 'PP04A1', 'PP05B3', 'PP05I', 'PP05J', 'PP05K', 'PP06E1', 'PP06K', 'PP06K_SEM', 'PP06K_MES', 'PP06L', 'PP07F1_1', 'PP07F1_2', 'PP07F1_3', 'PP07I2', 'PP07I3', 'PP07I4', 'PP07L', 'PP07M', 'PP08G', 'PP08G_DSEM', 'PP08G_DMES', 'PP08H', 'PP10B1', 'PP10B2', 'PP10B3', 'PP10B4', 'PP10B5', 'PP10B6', 'PP10B7', 'PP10B8', 'PP10B9', 'PP10B10', 'PP11L2', 'V2_01_M', 'V5_01_M', 'V5_02_M', 'V11_01_M', 'V21_01_M', 'V21_02_M', 'V21_03_M', 'V22_01_M', 'V22_02_M', 'V22_03_M', 'P_DECCF', 'P_RDECCF', 'P_GDECCF', 'P_PDECCF', 'P_IDECCF', 'P_ADECCF']

In [16]:
#pongo titulo y contenido todo en mayuscula
df_05_pat.columns = df_05_pat.columns.str.upper()
print(df_05_pat.columns.tolist())

df_05_pat.sample(10)

['CODUSU', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'ANO4', 'TRIMESTRE', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'CH03', 'CH04', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH15_COD', 'CH16', 'CH16_COD', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP03I', 'PP03J', 'INTENSI', 'PP04A', 'PP04B_COD', 'PP04B1', 'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP04C', 'PP04C99', 'PP04D_COD', 'PP04G', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP05C_1', 'PP05C_2', 'PP05C_3', 'PP05E', 'PP05F', 'PP05H', 'PP06A', 'PP06C', 'PP06D', 'PP06E', 'PP06H', 'PP07A', 'PP07C', 'PP07D', 'PP07E', 'PP07F1', 'PP07F2', 'PP07F3', 'PP07F4', 'PP07F5', 'PP07G1', 'PP07G2', 'PP07G3', 'PP07G4', 'PP07G_59', 'PP07H', 'PP07I', 'PP07J', 'PP07K', 'PP08D1', 'PP08D4', 'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP09A', 'PP09A_ESP', 'PP09B', 'PP09C', 'PP09C_ESP', 'PP10A', 'PP10C', 'PP10D', 'PP10E', 'PP11A', 'PP11B_COD', 'PP11B1', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA', 'PP11C', 'PP11C99', 'PP11D_COD', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP11L', 'PP11L1', 'PP11M', 'PP11N', 'PP11O', 'PP11P', 'PP11Q', 'PP11R', 'PP11S', 'PP11T', 'P21', 'DECOCUR', 'IDECOCUR', 'RDECOCUR', 'GDECOCUR', 'PDECOCUR', 'ADECOCUR', 'TOT_P12', 'P47T', 'DECINDR', 'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'V2_M', 'V3_M', 'V4_M', 'V5_M', 'V8_M', 'V9_M', 'V10_M', 'V11_M', 'V12_M', 'V18_M', 'V19_AM', 'V21_M', 'T_VI', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR', 'PJ1_1', 'PJ2_1', 'PJ3_1', 'IDIMPP']

,CODUSU,NRO_HOGAR,COMPONENTE,H15,ANO4,TRIMESTRE,REGION,MAS_500,AGLOMERADO,PONDERA,...,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,PJ1_1,PJ2_1,PJ3_1,IDIMPP
44541,266379,1.0,1.0,Sí,2005.0,1er. Trimestre,44,N,Comodoro Rivadavia - Rada Tilly,134.0,...,03,03,02,,04,02,0.0,0.0,0.0,40000
45316,259584,1.0,3.0,Sí,2005.0,1er. Trimestre,44,N,Neuquén - Plottier,260.0,...,02,02,02,,03,02,0.0,0.0,0.0,00000
46798,249609,1.0,4.0,0.0,2005.0,1er. Trimestre,44,N,Ushuaia - Río Grande,177.0,...,09,09,08,,09,06,0.0,0.0,0.0,00000
44783,151884,1.0,2.0,Sí,2005.0,1er. Trimestre,44,N,Neuquén - Plottier,307.0,...,02,02,02,,03,03,0.0,0.0,0.0,00000
44647,126856,1.0,8.0,0.0,2005.0,1er. Trimestre,44,N,Neuquén - Plottier,220.0,...,02,02,01,,02,02,0.0,0.0,0.0,00000
44387,235932,1.0,3.0,Sí,2005.0,1er. Trimestre,44,N,Comodoro Rivadavia - Rada Tilly,175.0,...,09,10,09,,10,09,0.0,0.0,0.0,00000
45340,268250,1.0,1.0,Sí,2005.0,1er. Trimestre,44,N,Neuquén - Plottier,261.0,...,06,07,05,,07,07,0.0,0.0,0.0,50000
44622,284932,1.0,4.0,Sí,2005.0,1er. Trimestre,44,N,Comodoro Rivadavia - Rada Tilly,212.0,...,07,08,06,,08,05,0.0,0.0,0.0,00000
46925,273784,1.0,4.0,0.0,2005.0,1er. Trimestre,44,N,Ushuaia - Río Grande,87.0,...,02,02,01,,02,01,0.0,0.0,0.0,00000
43938,151253,1.0,2.0,Sí,2005.0,1er. Trimestre,44,N,Comodoro Rivadavia - Rada Tilly,128.0,...,06,06,04,,07,04,0.0,0.0,0.0,40000

In [17]:
df_25_pat.columns = df_25_pat.columns.str.upper()
print(df_25_pat.columns.tolist())

df_25_pat.sample(10)

['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA', 'CH03', 'CH04', 'CH05', 'CH06', 'CH07', 'CH08', 'CH09', 'CH10', 'CH11', 'CH12', 'CH13', 'CH14', 'CH15', 'CH15_COD', 'CH16', 'CH16_COD', 'NIVEL_ED', 'ESTADO', 'CAT_OCUP', 'CAT_INAC', 'IMPUTA', 'PP02C1', 'PP02C2', 'PP02C3', 'PP02C4', 'PP02C5', 'PP02C6', 'PP02C7', 'PP02C8', 'PP02E', 'PP02H', 'PP02I', 'PP03C', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP03G', 'PP03H', 'PP03I', 'PP03J', 'INTENSI', 'PP04A', 'PP04B_COD', 'PP04B1', 'PP04B2', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP04C', 'PP04C99', 'PP04D_COD', 'PP04G', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP05C_1', 'PP05C_2', 'PP05C_3', 'PP05E', 'PP05F', 'PP05H', 'PP06A', 'PP06C', 'PP06D', 'PP06E', 'PP06H', 'PP07A', 'PP07C', 'PP07D', 'PP07E', 'PP07F1', 'PP07F2', 'PP07F3', 'PP07F4', 'PP07F5', 'PP07G1', 'PP07G2', 'PP07G3', 'PP07G4', 'PP07G_59', 'PP07H', 'PP07I', 'PP07J', 'PP07K', 'PP08D1', 'PP08D4', 'PP08F1', 'PP08F2', 'PP08J1', 'PP08J2', 'PP08J3', 'PP09A', 'PP09A_ESP', 'PP09B', 'PP09C', 'PP09C_ESP', 'PP10A', 'PP10C', 'PP10D', 'PP10E', 'PP11A', 'PP11B_COD', 'PP11B1', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA', 'PP11C', 'PP11C99', 'PP11D_COD', 'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP11L', 'PP11L1', 'PP11M', 'PP11N', 'PP11O', 'PP11P', 'PP11Q', 'PP11R', 'PP11S', 'PP11T', 'P21', 'DECOCUR', 'IDECOCUR', 'RDECOCUR', 'GDECOCUR', 'PDECOCUR', 'ADECOCUR', 'PONDIIO', 'TOT_P12', 'P47T', 'DECINDR', 'IDECINDR', 'RDECINDR', 'GDECINDR', 'PDECINDR', 'ADECINDR', 'PONDII', 'V3_M', 'V4_M', 'V8_M', 'V9_M', 'V10_M', 'V12_M', 'V18_M', 'V19_AM', 'T_VI', 'ITF', 'DECIFR', 'IDECIFR', 'RDECIFR', 'GDECIFR', 'PDECIFR', 'ADECIFR', 'IPCF', 'DECCFR', 'IDECCFR', 'RDECCFR', 'GDECCFR', 'PDECCFR', 'ADECCFR', 'PONDIH', 'V2_02_M', 'V2_03_M', 'V5_03_M', 'V11_02_M', 'PP07B1_01', 'EMPLEO', 'SECTOR', 'PP02A', 'PP02B', 'PP02D', 'PP02F', 'PP02G', 'PP03K', 'PP04A1', 'PP05B3', 'PP05I', 'PP05J', 'PP05K', 'PP06E1', 'PP06K', 'PP06K_SEM', 'PP06K_MES', 'PP06L', 'PP07F1_1', 'PP07F1_2', 'PP07F1_3', 'PP07I2', 'PP07I3', 'PP07I4', 'PP07L', 'PP07M', 'PP08G', 'PP08G_DSEM', 'PP08G_DMES', 'PP08H', 'PP10B1', 'PP10B2', 'PP10B3', 'PP10B4', 'PP10B5', 'PP10B6', 'PP10B7', 'PP10B8', 'PP10B9', 'PP10B10', 'PP11L2', 'V2_01_M', 'V5_01_M', 'V5_02_M', 'V11_01_M', 'V21_01_M', 'V21_02_M', 'V21_03_M', 'V22_01_M', 'V22_02_M', 'V22_03_M', 'P_DECCF', 'P_RDECCF', 'P_GDECCF', 'P_PDECCF', 'P_IDECCF', 'P_ADECCF']

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,V21_03_M,V22_01_M,V22_02_M,V22_03_M,P_DECCF,P_RDECCF,P_GDECCF,P_PDECCF,P_IDECCF,P_ADECCF
45296,TQRMNORXVHMMKUCDEHGHJ00882475,2025,1,1,2,1,44,N,20,130,...,0,0,0,0,1.0,1.0,NaN,1.0,1.0,1.0
29340,TQRMNOQXRHJOKMCDEGNFJ00877188,2025,1,1,1,1,44,N,17,167,...,0,0,0,0,4.0,3.0,NaN,5.0,5.0,3.0
11439,TQRMNOPVRHKNKOCDEGNFJ00861365,2025,1,1,4,1,44,N,17,266,...,0,0,0,0,8.0,7.0,NaN,8.0,8.0,6.0
13520,TQRMNOPTTHLLKPCDEFPCH00859411,2025,1,1,2,1,44,N,9,326,...,0,0,0,0,7.0,6.0,NaN,8.0,8.0,7.0
14141,TQRMNOSYYHLOKSCDEHGHJ00874641,2025,1,1,3,1,44,N,20,175,...,0,0,0,0,9.0,8.0,NaN,9.0,9.0,8.0
13852,TQRMNORSSHKMKRCDEOJAH00859804,2025,1,1,1,1,44,N,93,90,...,0,0,0,0,9.0,9.0,NaN,10.0,10.0,9.0
417,TQRMNORWYHMOKMCDEOJAH00877628,2025,1,1,1,1,44,N,93,108,...,0,0,0,0,9.0,8.0,NaN,9.0,9.0,9.0
13452,TQRMNOPTVHLMLLCDEOJAH00856267,2025,1,1,2,1,44,N,93,87,...,0,0,0,0,9.0,8.0,NaN,9.0,9.0,9.0
44118,TQRMNOPTYHLMKNCDEHGHJ00853649,2025,1,1,2,1,44,N,20,81,...,0,0,0,0,9.0,9.0,NaN,10.0,10.0,9.0
25370,TQRMNOQVVHMMKPCDEOHCH00880250,2025,1,1,1,1,44,N,91,64,...,0,0,0,0,8.0,6.0,NaN,8.0,8.0,6.0

In [18]:
#lista de variables
var= ["CH04", "CH06", "CH07", "CH08", "NIVEL_ED", "ESTADO", "CAT_INAC", "IPCF", "CH15", "CH09", "PP10A", "PP3E_TOT", "PP07A", "PP10E", "CAT_OCUP", "ANO4"]

In [19]:
#reduzco los df a las variables de interes

df_05int= df_05_pat[var]
df_25int= df_25_pat[var]

In [20]:
df_05int.head()

,CH04,CH06,CH07,CH08,NIVEL_ED,ESTADO,CAT_INAC,IPCF,CH15,CH09,PP10A,PP3E_TOT,PP07A,PP10E,CAT_OCUP,ANO4
43801,Varón,46.0,Casado,Obra social (incluye PAMI),Secundaria Incompleta,Ocupado,0.0,480.0,En otra provincia (especificar),Sí,0.0,48.0,Más de 5 años,0.0,Obrero o empleado,2005.0
43802,Mujer,32.0,Casado,Obra social (incluye PAMI),Secundaria Incompleta,Inactivo,Ama de casa,480.0,En otra provincia (especificar),Sí,0.0,0.0,0.0,0.0,0.0,2005.0
43803,Varón,14.0,Soltero,Obra social (incluye PAMI),Primaria Completa,Inactivo,Estudiante,480.0,En otra provincia (especificar),Sí,0.0,0.0,0.0,0.0,0.0,2005.0
43804,Varón,9.0,Soltero,Obra social (incluye PAMI),Primaria Incompleta (incluye educación especial),Menor de 10 años,Estudiante,480.0,En esta localidad,Sí,0.0,0.0,0.0,0.0,0.0,2005.0
43805,Mujer,3.0,Soltero,Obra social (incluye PAMI),Sin instrucción,Menor de 10 años,Menor de 6 años,480.0,En esta localidad,No,0.0,0.0,0.0,0.0,0.0,2005.0

In [21]:
df_25int.head()

,CH04,CH06,CH07,CH08,NIVEL_ED,ESTADO,CAT_INAC,IPCF,CH15,CH09,PP10A,PP3E_TOT,PP07A,PP10E,CAT_OCUP,ANO4
43,2,48,3,1.0,6,1,0,266666.67,3,1,NaN,35.0,6.0,NaN,3,2025
44,1,17,5,1.0,3,3,3,266666.67,1,1,NaN,NaN,NaN,NaN,0,2025
45,1,9,5,1.0,1,4,3,266666.67,1,1,NaN,NaN,NaN,NaN,0,2025
46,1,39,5,4.0,3,1,0,745000.00,3,1,NaN,48.0,0.0,NaN,2,2025
47,2,36,5,1.0,4,1,0,1200000.00,3,1,NaN,45.0,6.0,NaN,3,2025

In [22]:
#para ver si quedaron las mismas cant de columnas
print("df05", df_05int.shape)
print("df25", df_25int.shape)

df05 (3229, 16)
df25 (5359, 16)

In [23]:
print(df_25int.columns.tolist())

['CH04', 'CH06', 'CH07', 'CH08', 'NIVEL_ED', 'ESTADO', 'CAT_INAC', 'IPCF', 'CH15', 'CH09', 'PP10A', 'PP3E_TOT', 'PP07A', 'PP10E', 'CAT_OCUP', 'ANO4']

In [24]:
print(df_05int.columns.tolist())

['CH04', 'CH06', 'CH07', 'CH08', 'NIVEL_ED', 'ESTADO', 'CAT_INAC', 'IPCF', 'CH15', 'CH09', 'PP10A', 'PP3E_TOT', 'PP07A', 'PP10E', 'CAT_OCUP', 'ANO4']

In [26]:
#re-codificar la base de 20005 para que este de la misma forma que la de 2025 y asi poder juntarlas
 #CHO4
sexo= {"Varón":1, "Mujer":2}
#CH06 -> es numerica deberia estar bien
#CH07
est_civil= {"Unido":1, "Casado":2, "Separado o divorciado":3, "Viudo":4, "Soltero":5}
#CH08
cob_medica={"Obra social (incluye PAMI)":1, 'Mutual/Prepaga/Servicio de emergencia':2, 'Planes y seguros públicos':3, "No paga ni le descuentan":4, 'Ns./Nr.':9, "Obra social y mutual/prepaga/servicio de emergencia":12, 'Obra social y planes y seguros públicos':13, 'Mutual/prepaga/servicio de emergencia/planesysegurospúblicos':23, "Obra social, mutual/prepaga/serviciodeemergenciayPlanesySegurosPúblicos":123}
#NIVEL_ED
nivel_ed={'Primaria Incompleta (incluye educación especial)':1,  'Primaria Completa':2, "Secundaria Incompleta":3, "Secundaria Completa":4, 'Superior Universitaria Incompleta':5, 'Superior Universitaria Completa':6, 'Sin instrucción': 7, "Ns./Nr": 9}
#ESTADO
cond_act= {'Entrevista individual no realizada (no respuesta al cuestion':0, 'Ocupado':1, "Desocupado":2, "Inactivo":3, "Menor de 10 años":4}
#CAT_INAC
inactividad= {"Jubilado/pensionado":1, "Rentista":2, "Estudiante":3, "Ama de casa":4, "Menor de 6 años":5, "Discapacitado":6, "Otros":7}
#IPCF -> es numerica
#CH15
nacimiento= {'En esta localidad':1, 'En otra localidad':2, 'En otra provincia (especificar)':3, 'En un país limítrofe':4, 'En otro país':5, "Ns./Nr": 9}
#CH09 - alfabetización
alfab= {"Sí":1, "No":2, "Menor de 2 años":3}
#PP10A
busca_trab= {'...menos de 1 mes?':1, '...de 1 a 3 meses?':2, '...más de 3 a 6 meses?':3, '...más de 6 a 12 meses?':4, '...más de 1 año?':5}
#PP3E_TOT -> horas en ocupación en la semana
#PP07A
tiempo_trabajando= {'Menos de un mes':1, '1 a 3 meses':2, 'Más de 3 a 6 meses':3,'Más de 6 a 12 meses':4, 'Más de 1 a 5 años':5, 'Más de 5 años':6, "Ns./Nr.": 9}
#PP10E
tiempo_desocupado= {'...menos de 1 mes?':1, '...de 1 a 3 meses?':2, '...más de 3 a 6 meses?':3, '...más de 6 a 12 meses?':4, '...más de 1 a 3 años?':5, '...más de 3 años?':6}
#CAT_OCUP: categoria de ocupacion
cat_ocup= {'Patrón':1,'Cuenta propia':2, 'Obrero o empleado':3, 'Trabajador familiar sin remuneración':4}